@media all and (max-width: 900px) {
    h2 {
        font-size: 36px;
        /* font-size: calc(36px + (20 + 20 * 0.7) * ((100vw - 320px) / 1280)); */
        line-height: 45px;
    }

    h3 {
        font-size: 13px;
        line-height: 20px;
    }

    h4 {
        font-size: 12px;
        line-height: 18px;
    }

    .burger-menu {
        display: none;
    }

    .nav-list {
        justify-content: center;
    }

    .main-container {
        padding-top: 35px;
    }
    .card {
        display: flex;
        justify-content: space-between;
        max-width: 1280px;
        height: 500px;
        margin: 0 auto;
    }
    .card__left {
        width: 50%;
    }

    .card__right {

        background-position-x: -190px;
        background-position-y: -20px;
    }

    .button-key {
        width: 100px;
        height: 38px;
        font-size: 12px;
        line-height: 18px;
    }

    .second-container {

    }
    .second-card {
        padding-top: 45px;
    }
    .second-card__left {
    }
    .link {
    }
    .second-card__title {
    }
    .second-card__subtitle {
    }
    .second-card__area {
        height: 260px;
    }
    .second-card__item {
        font-size: 14px;
        line-height: 18px;
    }
    .second-card__line1 {
    }
    .second-card__line2 {
    }
    .second-card__line3 {
    }
    .second-card__button {
    }
    .button-key {
    }
    .second-card__right {
        justify-content: center;
        align-items: center;
    }

    .second-card__first-picture {
    }
    .inner1 {
    }
    .second-card__second-picture {
    }
    .inner2 {
        display: none;
    }


    /* MENU_PAGE */
    .menu__list-item {
        font-size: 15px;
        line-height: 20px;
    }


    .map {
        margin-top: 100px;
    }
    .map__description {
        padding: 70px 10px 0 17px;
    }
    .map__description-title {
        font-size: 16px;
        line-height: 24px;
    }
    .map__description-text {
        font-size: 12px;
        line-height: 18px;
    }
    .map__container {
    }
    .map__inner {
    }

    .footer {
        padding-top: 30px;
    }
    .footer__copypaste {
        font-size: 10px;
        line-height: 16px;
    }
    .footer__social-networks {
    }

    .footer__contact-us {
        margin-left: 20px;
    }

    .footer__contact span {
        font-size: 14px;
        line-height: 16px;
    }

    /* ABOUT_PAGE */
    .picture-text__description {
        max-width: 50%;
    }

    /* STORY-PAGE */
    .main-story {
    }
    .main-story__left {
    }
    .second-card__title {
    }
    .second-card__subtitle {
    }
    .story-card__left {
    }
    .story-card__first-picture {
    }
    .inner1 {
    }
    .story-card__second-picture {
    }
    .inner2 {
    }
    .story-card__right {
    }
    .main-story__min-title {
    }
    .picture-text__title {
    }
    .picture-text__title__story {
    }
    .bold {
    }
    .main-story__paragraph {
    }

    /* FOOTER-PAGE */


    .footer {
        padding-top: 20px;
    }
    .footer__ico {
    }
    .logo {
    }
    .footer__nav {
    }
    .nav-list {
    }
    .nav-list__item {
    }
    .nav-list__item--active {
    }
    .footer__bottom {
    }
    .footer__copypaste {
    }
    .footer__social-networks {
    }
    .fb-ico {
    }
    .insta-ico {
    }
    .linkedin-ico {
    }
    .footer__contact-us {
        margin-left: 0;
    }
    .footer__contact {
    }
    .discover__line {
        display: none;
    }



}