@media all and (max-width: 450px) {

    .second-card__area {
        justify-content: flex-start;
        height: 350px;
        flex-direction: column;
        margin-bottom: 20px;
    }
    .second-card__item + .second-card__item {
        margin: 45px 0 0 0;
    }

    /* MENU_PAGE */
    .menu__card-area {
    }
    .menu-card {
    }
    .menu-card__picture {
        height: 200px;
    }
    .menu-card__item {
        width: 300px;
    }
    .menu-card__description {
        height: 60px;
    }
    .menu-card__title {
        font-size: 15px;
        line-height: 22px;
    }
    .menu-card__cost {
        font-size: 15px;
        line-height: 22px;
    }

    /* ABOUT */
    .picture__container {
        margin-top: 20px;
    }

    /* STORY-PAGE */
    .main-story {
    }
    .main-story__left {
    }
    .second-card__title {
    }
    .second-card__subtitle {
    }
    .story-card__left {
    }
    .story-card__first-picture {
    }
    .inner1 {
    }
    .story-card__second-picture {
    }
    .inner2 {
    }
    .story-card__right {
    }
    .main-story__min-title {
    }
    .picture-text__title {
    }
    .picture-text__title__story {
    }
    .bold {
    }
    .main-story__paragraph {
    }

    /* FOOTER-PAGE */



    .footer__copypaste {
        display: none;
    }
}