@media all and (max-width: 600px) {
    .header {
    }
    .logo {
    }
    .nav-list {
    }
    .nav-list__item {
    }
    .nav-list__item--active {
    }
    /* MAIN */
    .main-container {
    }
    .card {
    }
    .card__left {
    }
    .card__title {
    }
    .card__subtitle {
    }
    .card__button {
    }
    .button-key {
    }
    .card__description {
    }
    .card__description--inner {
    }
    .card__description-title {
    }
    .card__description-subtitle {
    }
    .card__right {
    }
    /* SECOND */
    .second-container {
    }
    .second-card {
    }
    .second-card__left {
    }
    .link {
    }
    .second-card__title {
    }
    .second-card__subtitle {
    }
    .second-card__area {
        height: 250px;
    }
    .second-card__item {
    }
    .second-card__line1 {
    }
    .second-card__line2 {
    }
    .second-card__line3 {
    }
    .but {
        display: none;
    }
    .second-card__button {
    }
    .button-key {
    }
    .second-card__right {
        display: none;
    }
    .second-card__first-picture {
    }
    .inner1 {
    }
    .second-card__second-picture {
    }
    .inner2 {
        display: none;
    }


    /* MENU-PAGE */
    .menu {

    }
    .menu__list {
    }
    .menu__list-item {
        font-size: 12px;
        line-height: 16px;
    }
    .menu__list-item + .menu__list-item {
        margin-left: 0;
    }
    .menu__list-item--active {
    }

    /* ABOUT_PAGE */
    .picture__container {
        margin-top: 20px;
    }

    /* STORY_PAGE */
    .main-story {
    }
    .main-story__left {
    }
    .second-card__title {
    }
    .second-card__subtitle {
    }
    .story-card__left {
        justify-content: space-around;
    }
    .story-card__first-picture {
    }
    .inner1 {
    }
    .story-card__second-picture {
    }
    .inner2 {
    }
    .story-card__right {
    }
    .main-story__min-title {
    }
    .picture-text__title {
    }
    .picture-text__title__story {
    }
    .bold {
    }
    .main-story__paragraph {
    }

    /* MAP */
    .map {
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    .map__description {
        width: 100%;
        height: 370px;
    }
    .map__description-title {
        margin: 25px auto 0 auto;
    }
    .map__description-text {
        margin: 0 auto;
    }
    .map__container {
        width: 100%;
    }
    .map__inner {
    }



    /* FOOTER */
    .footer__copypaste {
        width: 135px;
    }
    .discover__line {
        display: none;
    }
}