@media all and (max-width: 1100px) {

    .burger-menu {
        display: none;
    }

    .second-card__area {
        height: 350px;
    }
    .second-card__right {
        justify-content: center;
        align-items: center;
    }
    .inner2 {
        display: none;
    }

    /* MENU_PAGE */
    .discover {
        margin-top: 45px;
        margin-bottom: 50px;
    }
    .discover__left {
        width: 100%;
        margin-bottom: 15px;
    }
    .discover__subtitle {
    }
    .discover__line {
    }
    .discover__title {
    }
    .discover__right {
    }


    /* STORY-PAGE */
    .main-story {
    }
    .main-story__left {
    }
    .second-card__title {
    }
    .second-card__subtitle {
    }
    .story-card__left {
    }
    .story-card__first-picture {
    }
    .inner1 {
    }
    .story-card__second-picture {
    }
    .inner2 {
    }
    .story-card__right {
    }
    .main-story__min-title {
    }
    .picture-text__title {
    }
    .picture-text__title__story {
    }
    .bold {
    }
    .main-story__paragraph {
    }


}