@media all and (max-width: 768px) {


    /* BURGER */
    .burger-menu {
        display: block;
    }

    .header {
        height: 75px;
    }
    .logo {
    }
    .nav-list {
        display: none;
    }
    .nav-list__item {
    }
    .nav-list__item--active {
    }
    /* MAIN */
    .main-container {
        padding-top: 70px;
    }
    .card {
        flex-direction: column;
        height: 900px;
    }
    .card__left {
        width: 100%;
        align-items: center;
        margin: 0;
        padding: 0 0;
    }
    .card__title {
        text-align: center;
    }
    .card__subtitle {
        text-align: center;
    }
    .card__button {
    }
    .button-key {
    }
    .card__description {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .card__description--inner {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-right: 15px;
    }
    .card__description-title {
    }
    .card__description-subtitle {
    }
    .card__right {
        width: 100%;
        height: 900px;
        background-position: center 1px;
    }
    /* SECOND */
    .second-container {
    }
    .second-card {
        flex-direction: column;
    }
    .second-card__left {
        width: 100%;
    }
    .link {
    }
    .second-card__title {
    }
    .second-card__subtitle {
    }
    .second-card__area {
        height: 140px;
    }
    .second-card__item {
    }
    .second-card__line1 {
    }
    .second-card__line2 {
    }
    .second-card__line3 {
    }
    .but {
    }
    .second-card__button {
    }
    .button-key {
    }
    .second-card__right {
        flex-wrap: nowrap;
        width: 100%;
        height: 700px;
        justify-content: space-between;
    }
    .second-card__first-picture {
    }
    .inner1 {
    }
    .second-card__second-picture {
    }
    .inner2 {
        display: block;
    }

    .map {
        margin-top: 10px;
    }


    /* MENU-PAGE */
    .menu {

    }
    .menu__list {
        display: flex;
        justify-content: space-between;
    }
    .menu__list-item {
        font-size: 15px;
        line-height: 20px;
    }
    .menu__list-item--active {
    }

    /* ABOUT_PAGE */
    .picture-container {
        margin-top: 80px;
    }
    .gradient-container {
        background: linear-gradient(-70deg, #0000 -20%, #19161b 85%);
    }
    .picture-text__container {
    }
    .picture-text__title {
    }
    .bold {
    }
    .picture-text__description {
        max-width: 50%;
    }


    .our-history {
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .our-history__title {
        font-size: 24px;
        line-height: 36px;
        margin-bottom: 20px;
    }
    .our-history__card-area {
        flex-direction: column;
        border-top: none;
        border-left: 2px dashed rgba(255, 255, 255, 0.15);
    }
    .our-history__card {
    }
    .our-history__card + .our-history__card {
        margin-left: 0;
    }

    }
    .our-history__card-line {
        border-top: 6px solid #FFB577;
        height: 6px;
        width: 6px;
        background-color: #fff;
        margin-bottom: 34px;
        margin-top: 0px;
    }
    .our-history__card-year {
        padding-left: 15px;
    }
    .our-history__card-subtitle {
        padding-left: 15px;
    }
    .our-history__card-description {
        padding-left: 15px;
    }

}