@media all and (max-width: 768px) {
    .header {
    }
    .logo {
    }
    .nav-list {
    }
    .nav-list__item {
    }
    .nav-list__item--active {
    }
    /* MAIN */
    .main-container {
    }
    .card {
    }
    .card__left {
    }
    .card__title {
    }
    .card__subtitle {
    }
    .card__button {
    }
    .button-key {
    }
    .card__description {
    }
    .card__description--inner {
    }
    .card__description-title {
    }
    .card__description-subtitle {
    }
    .card__right {
    }
    /* SECOND */
    .second-container {
    }
    .second-card {
    }
    .second-card__left {
    }
    .link {
    }
    .second-card__title {
    }
    .second-card__subtitle {
    }
    .second-card__area {
        height: 250px;
    }
    .second-card__item {
    }
    .second-card__line1 {
    }
    .second-card__line2 {
    }
    .second-card__line3 {
    }
    .but {
        margin: 0 auto;
    }
    .second-card__button {
    }
    .button-key {
    }
    .second-card__right {
        display: none;
    }
    .second-card__first-picture {
    }
    .inner1 {
    }
    .second-card__second-picture {
    }
    .inner2 {
        display: none;
    }

}